In [1]:
%pip install pandas

Requirement already satisfied: pandas in c:\users\user\miniconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\miniconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\miniconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\miniconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\user\miniconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
import pandas as pd
import numpy as np

df1 = {'A': [10, 20, 30, 40, 50, 60],
        'B': [11, 22, 33, 44, 55, 66],
        'C': [12, 23, 34, 45, 56, 67],
        'D': [np.nan, '', np.nan, '', "it is a value1", ''],
        'E': ['', np.nan, "it is a value1", np.nan, '', np.nan],
        'F': ["it is a value1", np.nan, "it is a value1", "it is a value1", '', np.nan]}
df1 = pd.DataFrame(df1)

df2 = {'A': [10, 20, 30, 50, 50, 60],
        'B': [11, 32, 33, 44, 55, 66],
        'C': [12, 23, 34, 45, 56, 77],
        'D': [np.nan, '', np.nan, '', "it is a value2", ''],
        'E': ['', np.nan, "it is a value2", np.nan, '', np.nan],
        'F': ["it is a value2", np.nan, "it is a value2", "it is a value2", '', np.nan]}
df2 = pd.DataFrame(df2)

print(df1)
print(df2)

    A   B   C               D               E               F
0  10  11  12             NaN                  it is a value1
1  20  22  23                             NaN             NaN
2  30  33  34             NaN  it is a value1  it is a value1
3  40  44  45                             NaN  it is a value1
4  50  55  56  it is a value1
5  60  66  67                             NaN             NaN
    A   B   C               D               E               F
0  10  11  12             NaN                  it is a value2
1  20  32  23                             NaN             NaN
2  30  33  34             NaN  it is a value2  it is a value2
3  50  44  45                             NaN  it is a value2
4  50  55  56  it is a value2
5  60  66  77                             NaN             NaN

In [11]:
def append_dataframes(df1, df2):
    df = pd.concat([df1, df2])
    df = df.groupby(['A', 'B', 'C']).agg(lambda x: x[x.notnull()].iloc[0] if x.notnull().any() else '').reset_index()
    return df

df = append_dataframes(df2, df1)
df

    A   B   C               D               E               F
0  10  11  12                                  it is a value2
1  20  22  23
2  20  32  23
3  30  33  34                  it is a value2  it is a value2
4  40  44  45                                  it is a value1
5  50  44  45                                  it is a value2
6  50  55  56  it is a value2
7  60  66  67
8  60  66  77

In [12]:
df3

NameError: name 'df3' is not defined

df1 = {'A': [10, 20, 30, 40, 50, 60],
        'B': [11, 22, 33, 44, 55, 66],
        'C': [12, 23, 34, 45, 56, 67],
        'D': [np.nan, '', np.nan, '', "it is a value", ''],
        'E': ['', np.nan, "it is a value", np.nan, '', np.nan],
        'F': ["it is a value", np.nan, "it is a value", "it is a value, '', np.nan}


df2 = {'A': [10, 20, 30, 50, 50, 60],
        'B': [11, 32, 33, 44, 55, 66],
        'C': [12, 23, 34, 45, 56, 77],
        'D': [np.nan, '', np.nan, '', "it is a value", ''],
        'E': ['', np.nan, "it is a value", np.nan, '', np.nan],
        'F': ["it is a value", np.nan, "it is a value", "it is a value, '', np.nan}

I have the above 2 dataframes. I want to append them on top each other, df1.append(df2). 

If values in columns A, B and C are the same when appending, at each cell in column D, E, F of each row, value differnt from '' or np.nan will be the value of that cell.

If values in columns A, B and C are the same when appending, at each cell in column D, E, F of each row and if both values at each cell in df1 and df2 are different from '' and np.nan, value in that cell will be the value in df2.
If values in columns A, B and C are the same when appending, at each cell in column D, E, F of each row and if both values at each cell in df1 and df2 are either '' and np.nan, value in that cell will be the value in df2.

Write a python function to do that append.